name: .NET Core Desktop

on:
  push:
    branches: [ master ]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [ master ]
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: [self-hosted, linux]

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
     
    # Restore project     
    - name: Restore project
      run: dotnet restore

    # Build project  
    - name: Build project
      run: dotnet build --configuration Release
      
    # Kill dotnet process  
    - name: Kill dotnet process
      run: pkill dotnet   
          
    # Execute run script       
    - name: Execute run script
      env:
        API-TOKEN: ${{ secrets.APPSETTINGSJSON }}
      run: RUNNER_TRACKING_ID="" && chmod u+r+x build.sh && ./build.sh $API-TOKEN  # https://github.com/actions/runner/issues/598
        
      
      
